<p>
  Ahoj, díky za zájem, uvidíme se na koncertě! <br>

  Hi, thanks for your interest, see you at the concert!
</p>

<ol>
  <li>
    <%= link_to "Angel in Angle (3:28)", "http://www.theriverman.cz/system/theriverman.cz/mp3/angel-in-angle.mp3" %>
  </li>
  <li>
    <%= link_to "Immortal Soul (3:22)", "http://www.theriverman.cz/system/theriverman.cz/mp3/immortal-soul.mp3" %>
  </li>
  <li>
    <%= link_to "Place - Life (4:56)", "http://www.theriverman.cz/system/theriverman.cz/mp3/place-life.mp3" %>
  </li>
  <li>
    <%= link_to "River (3:56)", "http://www.theriverman.cz/system/theriverman.cz/mp3/river.mp3" %>
  </li>
  <li>
    <%= link_to "Underground Child (3:48)", "http://www.theriverman.cz/system/theriverman.cz/mp3/underground-child.mp3" %>
  </li>
  <li>
    <%= link_to "Booklet (zip)", "http://www.theriverman.cz/system/theriverman.cz/mp3/booklet.zip" %>
  </li>
</ol>
