<%= form_tag user_sessions_path, :method => :post do %>

  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, placeholder: "karel@seznam.cz" %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <%= submit_tag "Login", class: 'btn' %>
  </div>

  <div class="field last">
    <%= label_tag :remember, "keep me logged in", class: "inline-label" %>
    <%= check_box_tag :remember %>
  </div>

<% end %>
