<%= form_tag user_sessions_path, :method => :post do %>

  <div class="field">
    <%= label_tag :email, t('users.email') %>
    <%= text_field_tag :email, nil, placeholder: "karel@seznam.cz" %>
  </div>

  <div class="field last">
    <%= label_tag :password, t('users.password') %>
    <%= password_field_tag :password %>
    <%= submit_tag t('users.login'), class: 'btn' %>
  </div>

  <!--
  <div class="field last">
    <%#= label_tag :remember, t("users.remember_me"), class: "inline-label" %>
    <%#= check_box_tag :remember %>
  </div>-->

<% end %>
