<div class="administration">
  <% flash.each do |key, message| %>
    <div class="flash flash-<%= key %>">
     <%= message %>
    </div>
  <% end %>

  <% if administrators_computer? %>
    <div id="admin-navigation">
      <div id="corner-navigation">
        <% if logged_in? %>
          <%= link_to t('users.logout'), logout_path %>
        <% else %>
          <%= link_to t('users.login'), login_path %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= yield %>

</div>
