<!DOCTYPE html>
<!--[if lt IE 7 ]>
    <html class="ie ie6" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
    <html class="ie ie7" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
    <html class="ie ie8" lang="cs"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <html lang="cs"><!--<![endif]--><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Daniela Vítovská</title>
    <meta name="description" content="">
    <meta name="author" content="">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

  <%= javascript_include_tag "danielavitovska.cz/all" %>
  <%= stylesheet_link_tag "danielavitovska.cz/all" %>
  <%= stylesheet_link_tag "application" %>

</head>

<body>


    <div class="container">

        <div class="row">

            <div class="span5">
                <a href="http://danielavitovska.cz/">
                    <img src="<%= site_asset_path "logo.png" %>">
                </a>
            </div>

            <div class="span5">
                <address class="lead">
                    <strong>Ing. Daniela Vítovská</strong><br>
                    Na Blatech 626, 39501 Pacov<br>
                    +420 721 783 250<br>
                    <a href="mailto:vitovska.d@centrum.cz">vitovska.d@centrum.cz</a><br>
                    IČ: 74938037
                </address>
            </div>

            <div class="span10">
                 <h1>
                    <a href="http://danielavitovska.cz/">
                        Daniela Vítovská
                    </a>

                    <span>Zahradní a krajinářské úpravy</span>
                </h1>
            </div>
        </div>

        <hr class="small">

        <div class="row">
            <div class="span5">

                <h3>Návrh</h3>
                <p>
                    <img src="<%= site_asset_path "icons/navrh.png" %>" alt="" class="theme-icon">
                    Od studie a konceptu návrhu až po projektovou dokumentaci jednotlivých prostorů, podrobnost dle požadavků klienta.
                </p>
            </div>
            <div class="span5">
                <h3>Realizace</h3>
                <p>
                    <img src="<%= site_asset_path "icons/realizace.png" %>" alt="" class="theme-icon">
                    Zabezpečení kompletní realizace především soukromých zahrad, firemních areálů a&nbsp;venkovských veřejných prostranství.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="span5">
                <h3>Vzdělávání a osvěta</h3>
                <p>
                    <img src="<%= site_asset_path "icons/vzdelavani_osveta.png" %>" alt="" class="theme-icon">
                    Organizace akcí spojených všeobecně s tématikou zahradní a krajinářské architektury, přednášky, informační materiály apod.
                </p>
            </div>
            <div class="span5">
                <h3>Konzultační činnost</h3>
                <p>
                    <img src="<%= site_asset_path "icons/konzultacni_cinnost.png" %>" alt="" class="theme-icon">
                    Odborné poradenství, konzultace, autorský a&nbsp;technický dozor.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span6 offset2">
                <h3>Zapojení veřejnosti</h3>
                <p>
                    <img src="<%= site_asset_path "icons/zapojovani.png" %>" alt="" class="theme-icon">
                    Konzultační činnost, moderování a organizace akcí, při kterých je do procesu plánování a realizace díla zahradní a&nbsp;krajinářské architektury zapojována veřejnost.

                </p>
            </div>
        </div>

        <hr>

        <h3>S čím vám mohu pomoci:</h3>
        <ul class="thumbnails">

            <li class="span2">
                <div class="thumbnail">
                    <img src="<%= site_asset_path "thumbs/zahrada-u-rodinneho-domu.jpg" %>" alt="Zahrady u rodinného domu">
                    <h4>Zahrady u RD</h4>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail">
                    <img src="<%= site_asset_path "thumbs/firemni_arealy.jpg" %>" alt="Firemní arealy">
                    <h4>Firemní areály</h4>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail">
                    <img src="<%= site_asset_path "thumbs/verejna_prostranstvi.jpg" %>" alt="Veřejná prostranství">
                    <h4>Veřejná prostranství</h4>
                </div>
            </li>

            <li class="span2">
                <div class="thumbnail">
                    <img src="<%= site_asset_path "thumbs/volna_krajina.jpg" %>" alt="Volná krajina">
                    <h4>Volná krajina</h4>
                </div>
            </li>


            <li class="span2">
                <div class="thumbnail">
                    <img src="<%= site_asset_path "thumbs/vzdelavaci-akce.jpg" %>" alt="Vzdělávací akce">
                    <h4>Vzdělávací akce</h4>
                </div>
            </li>

        </ul>


        <hr>

        <h3>Ceník služeb</h3>
        <div class="row">
            <div class="span10">

<p>Rámcový ceník návrhu zahrady u RD</p>
<table class="table">
<tbody>
    <tr>
        <td>0 - 300 m2</td>
        <td>Předzahrádky, části zahrad, malé zahrady</td>
        <td>2 000 – 5 000 Kč</td>
    </tr>
    <tr>
        <td>300 – 700 m2</td>
        <td>Menší zahrádky</td>
        <td>5 000 – 8 000 Kč</td>
    </tr>
    <tr>
        <td>700 – 1200 m2</td>
        <td>Střední zahrádky</td>
        <td>8 000 – 12 000 Kč</td>
    </tr>
    <tr>
        <td>1200 m2 a více</td>
        <td>Rozsáhlé zahrady</td>
        <td>Od 12 000 Kč</td>
    </tr>
</tbody>
</table>


<p>Ceny jsou pouze orientační, vždy záleží na konkrétním prostoru, zadání a podrobnosti zpracování.</p>

   </div>
        </div>

   <h3>Návrh</h3>
        <div class="row">
            <div class="span10">


                <h4>Standardní postup návrhu zahrady:</h4>
                <ol>
                <li>První konzultace, včetně terénního šetření, zjišťování požadavků investora</li>
                <li>Druhá konzultace – varianty návrhu (náčrt konceptu řešení)</li>
                <li>Třetí konzultace – předání tištěné verze návrhu</li>

                </ol>

                <h4>Standardní obsah návrhu:</h4>
                <ul>
                <li>textová zpráva (základní údaje, současný a navrhovaný stav, technologie zakládání prvků)</li>
                <li>koncept návrhu</li>
                <li>osazovací plán</li>
                <li>seznam rostlin</li>
                <li>rámcový výkaz výměr, resp. rozpočet</li>
                <li>vizualizace navrhovaného stavu</li>
                </ul>

            </div>
        <div>
    </div>

</body>
</html>