<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="cs"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="cs"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title><%= current_site.title %></title>

  <%= javascript_include_tag "patrikjira.com/all" %>
  <%= stylesheet_link_tag "patrikjira.com/all" %>
  <%= stylesheet_link_tag "application" %>

  <link rel="shortcut icon" href="<%= site_asset_path "favicon.ico" %>"/>

</head>
<body>

<%= render 'layouts/administration' %>

<div class="container">

  <header class="main">
    <a href="http://patrikjira.com/" title="Thats me!" id="logo">
      <img src="<%= site_asset_path "logo.jpg" %>" alt="Patrik Jíra">
    </a>

    <h1 class="cz">
      <span class="big" data-mercury="simple" id="<%= current_site.key_prefix %>heading"><%= render_area('heading') %></span>
      <span class="small" data-mercury="simple" id="<%= current_site.key_prefix %>motto"><%= render_area('motto') %></span>
    </h1>
  </header>

  <article id="<%= current_site.key_prefix %>content" data-mercury="full">
    <%= render_area('content').html_safe %>
  </article>

</div>
<!-- .container -->

</body>
</html>
