<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="cs"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="cs"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title><%= current_site.title %></title>

  <%= javascript_include_tag "theriverman.cz/all" %>
  <%= stylesheet_link_tag "theriverman.cz/all" %>
  <%= stylesheet_link_tag "application" %>

</head>
<body>

<%= render 'layouts/administration' %>

<div class="main">

  <header>
    <a href="/" title="The Riverman" id="logo">
      <img src="<%= site_asset_path "logo.png" %>">
    </a>
  </header>

  <div class="newsletter">
    <%= form_tag '/newsletter' do %>
      <%= label_tag :email, "email:" %>
      <%= text_field_tag :email, nil, placeholder: "karel@seznam.cz", class: 'text-field' %>
      <%= submit_tag "Poslat", class: 'submit' %>
    <% end %>
  </div>

  <article id="theriverman_cz_content" data-mercury="full" class="content">
    <%= render_area('theriverman_cz_content').html_safe %>
    <p>
      Zde si můžete ZDARMA STÁHNOUT Animal Spirits. Na Váš email bude odeslán odkaz, který platí jednu hodinu.
    </p>

    <p>
      Here you can download Animal Spirits FOR FREE. The download link will be automatically sent to your email address.
    </p>
  </article>

  <%= link_to "www.theriverman.cz", "/", class: 'big-link' %>

  <article class="icons">
    <%= link_to image_tag('theriverman.cz/youtube-icon.png'), "" %>
    <%= link_to image_tag('theriverman.cz/bandpage-icon.png'), "" %>
    <%= link_to image_tag('theriverman.cz/facebook-icon.png'), "" %>
    <%= link_to image_tag('theriverman.cz/soundcloud-icon.png'), "" %>
    <%= link_to image_tag('theriverman.cz/bandzone-icon.png'), "" %>
  </article>

  <article class="thanks">
    <p class="blue">poděkování</p>

    <p>
      zvuk: Mirek Šmilauer <br>
      grafická úprava: Veronika Pešková
    </p>

    <p class="red">velké poděkování</p>

    <p>
      zkušebna: Josef a Petr Divišovi<br>
      vybavení: Milan Mrkvička
    </p>
  </article>

  <footer>
    <p>
      [díky všem fanouškům a na viděnou na koncertě]
    </p>
  </footer>

</div>
<!-- .container -->

</body>
</html>
