<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="cs"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="cs"><!--<![endif]-->
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <title><%= current_site.title %></title>

  <%= javascript_include_tag "theriverman.cz/all" %>
  <%= stylesheet_link_tag "theriverman.cz/all" %>
  <%= stylesheet_link_tag "application" %>

</head>
<body>

<%= render 'layouts/administration' %>

<div class="main">
  <div class="photo-content">

    <header>
      <a href="/" title="The Riverman" id="logo">
        <img src="<%= site_asset_path "logo.png" %>">
      </a>

    </header>

    <div class="newsletter">

      <%= form_for NewsletterRecipient.new, method: :post do |t| %>
        <%= t.label :email, "email:" %>
        <%= t.text_field :email, class: 'text-field' %>
        <%= t.submit "Poslat", class: 'submit' %>
      <% end %>

    </div>

    <article id="theriverman_cz_content" data-mercury="full" class="content">
      <%= render_area('theriverman_cz_content').html_safe %>
    </article>

    <%= link_to "www.theriverman.cz", "/", class: 'big-link' %>

    <article id="theriverman_cz_icons" data-mercury="full" class="icons">
      <%= render_area('theriverman_cz_icons').html_safe %>
    </article>

  </div>

  <article class="thanks">
    <p class="blue">poděkování</p>

    <p id="theriverman_cz_thanks" data-mercury="full">
      <%= render_area('theriverman_cz_thanks').html_safe %>
    </p>

    <p class="red">velké poděkování</p>

    <p id="theriverman_cz_bigthanks" data-mercury="full">
      <%= render_area('theriverman_cz_bigthanks').html_safe %>
    </p>
  </article>

  <footer>
    <p id="theriverman_cz_footer" data-mercury="simple">
      <%= render_area('theriverman_cz_footer').html_safe %>
    </p>
    <p>
      <%= link_to image_tag('theriverman.cz/spalena-records.png', alt: "Spálená records"), 
                  "http://www.spalena.cz/", title: "Spálená records" %>
    </p>
  </footer>

</div>
<!-- .container -->

</body>
</html>
